body{
    background: lightgrey;
}
.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1 {
    text-align: center;
    width: 100%;
}
.carte{
    width: 100%;
    height: 300px;
}
.liste_fest{
    width: 100%;
    border-spacing: 0;
}
thead{
    width: 100%;
    background: white;
    height: 30px;
}
tr{
    text-align: center;
    vertical-align: middle;
    height: 37px;
}
tr:nth-child(even) {
    background-color: white;
}
.edit{
    background: black;
    border-color: black;
    color: white;
}
.ajout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.entree{
    display: flex;
    gap: 10px;
    width: 50%;
    text-align: right;
}
.entree label{
    width: 50%;
    text-align: right;
}
.entree input{
    width: 50%;
    border-radius: 3px;
}
.reponse{
    display: flex;
}
.envoi{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.enr{
    background: greenyellow;
    border-color: green;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    padding: 5px;
}
button{
    background: greenyellow;
    border-color: green;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}