<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un festival</title>
  <link rel="stylesheet" href="../static/style.css" data-th-href="@{/style.css}">
</head>
<body>
<h1>Ajouter un formulaire</h1>
<form class = "ajout">
  <div class="entree">
    <label>Nom :</label>
    <input type="text" th:field="${festival.nom}">
  </div>
  <div class="entree">
    <label>Code postal :</label>
    <input type="number" th:field="${festival.cp}">
  </div>
  <div class="entree">
    <label>Ville :</label>
    <input type="text" th:field="${festival.ville}">
  </div>
  <div class="entree">
    <label>Lieu :</label>
    <input type="text" th:field="${festival.lieu}">
  </div>
  <div class="entree">
    <label>Date de début :</label>
    <input type="date" th:field="${festival.debut}">
  </div>
  <div class="entree">
    <label>Date de fin :</label>
    <input type="date" th:field="${festival.fin}">
  </div>
  <div class="entree">
    <label>Site :</label>
    <input type="url" th:field="${festival.url}">
  </div>
  <div class="entree">
    <label>Latitude :</label>
    <input type="number" step="any" th:field="${festival.lat}">
  </div>
  <div class="entree">
    <label>Longitude :</label>
    <input type="number" step="any" th:field="${festival.lon}">
  </div>
  <div class="envoi">
    <input class="enr" type = "submit" value="Enregistrer">
  </div>
</form>
</body>
</html>