<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un festival</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Ajouter un formulaire</h1>
<form class = "ajout">
  <div class="entree">
    <label>Nom :</label>
    <input type="text">
  </div>
  <div class="entree">
    <label>Ville :</label>
    <input type="text">
  </div>
  <div class="entree">
    <label>Lieu :</label>
    <input type="text">
  </div>
  <div class="entree">
    <label>Date de début :</label>
    <input type="date">
  </div>
  <div class="entree">
    <label>Date de fin :</label>
    <input type="date">
  </div>
  <div class="entree">
    <label>Site :</label>
    <input type="url">
  </div>
  <div class="entree">
    <label>Latitude :</label>
    <input type="number">
  </div>
  <div class="entree">
    <label>Longitude :</label>
    <input type="number">
  </div>
  <div class="envoi">
    <input class="enr" type = "submit" value="Enregistrer">
  </div>
</form>

</body>
</html>