<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="accueil">
    <h1>Les festivals de votre région</h1>
    <div class="carte"></div>
    <button>Ajouter un festival</button>
    <table class="liste_fest">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Ville</th>
            <th scope="col">Lieu</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">Site</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="tpair">
            <td id="nom"></td>
            <td id="ville"></td>
            <td id="lieu"></td>
            <td id="debut"></td>
            <td id="fin"></td>
            <td id="site"></td>
            <td id="edit"><button class = "edit">Éditer</button></td>
        </tr>
        <tr class="timpair">
            <td id="nom"></td>
            <td id="ville"></td>
            <td id="lieu"></td>
            <td id="debut"></td>
            <td id="fin"></td>
            <td id="site"></td>
            <td id="edit"><button class = "edit">Éditer</button></td>
        </tr>
        <tr class="tpair"></tr>
        </tbody>
    </table>
</div>
</body>
</html>