<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../static/style.css" data-th-href="@{/style.css}">
    <!-- Chargement de la bibliothèque Leaflet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
<div class="accueil">
    <h1>Les festivals de votre région</h1>
    <div class="carte" id="carte"></div>
    <button id="ajout">Ajouter un festival</button>
    <table class="liste_fest">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Ville</th>
            <th scope="col">Lieu</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">Site</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="festival : ${festivals}">
            <td id="nom" th:text="${festival.nom}"></td>
            <td id="ville" th:text="${festival.ville}"></td>
            <td id="lieu" th:text="${festival.lieu}"></td>
            <td id="debut" th:text="${festival.debut}"></td>
            <td id="fin" th:text="${festival.fin}"></td>
            <td id="site"><a th:href="${festival.url}"/><span th:text="${festival.nom}"></span></td>
            <td id="edit"><button class = "edit" id="editer">Éditer</button></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../static/script.js" th:src="@{/script.js}"></script>
<script th:each="festival : ${festivals}" th:object="${festival}" th:inline="javascript">
    addMarkerOnMap([[${festival.lat}]], [[${festival.lon}]],[[${festival.nom}]],[[${festival.ville}]]);
</script>
</body>
</html>